name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  gateway-go:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Test golang code
        run: go test ./...
      - name: Build golang code
        run: go build
